/* MOBILE */
@media screen and (max-width: 576px) {
#gradient {
    height: 45%;
    width: 100%;
    margin: 1rem 0 1.5rem 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}
h1 {
    margin-bottom: 1.5rem;
    font-size:x-large;
    line-height: 2rem;
}
.input-container {
    gap: 0;
    margin-top: 1rem;
}
.color1, .color2 {
    margin: 1rem;
}
}
  